<h2>About Me</h2>

<p>I am a developer with a passion for both ends of the stack. I graduated the web development program at Dev Bootcamp, where I trained intensively in JavaScript, Ruby, and the theory and practice of MVC Architecture with Object-oriented principles. At the end of my time at DBC, I led a team of four in our capstone project; this taught me to execute within an agile development cycle where all final decisions lay with me.</p>

<p>I bring a focus on craftsmanship and polish to my web development, carried over from several years as a professional writer and literary agent. JavaScript and Ruby, like written English, can be elegant or they can be hacky. My code is the former. I help my team members achieve the same.</p>