<h2>About Me</h2>

<div id="recent-proj">
  <p>I recently built this Chrome Extension:</p><%= link_to image_tag("black_sound.png", id:"echoimg"), "https://chrome.google.com/webstore/detail/echothat/clbbcmmpgpilnnaengcjkchkgheflgpg?hl=en", :target => "_blank" %>
</div>

<p>I am a developer with a passion for both ends of the stack. I graduated from Dev Bootcamp, where I trained intensively in JavaScript, Ruby, and the theory and practice of MVC Architecture with Object-oriented principles.</p>

<p>I bring a focus on craftsmanship and polish to my web development, carried over from several years as a professional writer and literary agent. JavaScript and Ruby, like written English, can be elegant or they can be hacky. My code is the former. I help my team members achieve the same.</p>