<table>
  <thead></thead>
  <tbody>
    <tr>
      <td id="left-pane">
        <div class="emph-frame">
          <div id="me-display">
            <%= render "visitors/show" %>
          </div>
        </div>
      </td>

      <td id="right-pane">
        <div class="emph-frame">
          <div id="factoid-frame">

            <div id="factoid-display">
              <%= render "factoids/index" %>
            </div>

            <div id="new-facts">
                <button><%= image_tag("circle_arrow.png", id:"circle-arrow") %></button>
            </div>

          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

