<div class="emph-frame">
  <div id="form-frame">
    <div id="factoid-submit">
      <h2>Thank you for adding to the Information</h2>

      <a href="/">
        <button class="fact-submit">Return Home</button>
      </a>

    </div>
  </div>
</div>