$green: rgba(128, 217, 40, 0.96);
$gray : rgba(51,51,51, 1);
$red : rgba(255,0,0,0.86);

@mixin bg-color-anim {
 transition: background-color 800ms ease;
  -webkit-transition: background-color 800ms ease;
  -moz-transition: background-color 800ms ease;
  -o-transition: background-color 800ms ease;
}

@mixin font-color-anim{
  transition: color 400ms ease;
  -webkit-transition: color 400ms ease;
  -moz-transition: color 400ms ease;
  -o-transition: color 400ms ease;
}