$gray : rgba(51,51,51, 1);
$not-me-width : 500px;
$not-me-min-height: $not-me-width * 1.1;
$button-max: 60px;
$button-min: 60px;

table{
  margin: 0 auto;
  width: 90%;
  font-family: 'Goudy Bookletter 1911', "Georgia", serif;
}

ul {
  list-style-type: none;
}

span.separator{
  width: 10px;
  margin: 0 auto;
  display: block;
}

.emph-frame{
  border: 2px solid $gray;
  padding: 2px;
}

#factoid-frame{
  border: 4px solid $gray;
  min-height: $not-me-min-height;
  min-width: $not-me-width;
}

#factoid-display {
  width: 80%;
  min-height: $not-me-min-height * 0.9;
  margin: 0 auto;
 }

#not-me {

  h1{
    text-align: center;
  }

  p {
    font-size: 1.2em;
    max-width: $not-me-width * .8;
    margin-right: 25px;
  }

  .quote-box {
    border-left: 2px solid red;
    padding-left: 19px;
    text-align: justify;
  }

  .quote-source{
    font-weight: bolder;
    margin-left: 30px;
  }

  .byline{
    margin-left: 16px;
  }

  .ratio-num{
    font-size: 1.3em;
    color: red;
  }

  .songname{
    margin-left: 25px;
  }
}

#left-pane{
  max-width: $not-me-width * 0.6;
  margin-right: 30px;
  display: flex;
}

#me-display{
  border: 4px solid $gray;
  padding: 30px;
  min-height: $not-me-min-height;
}

#new-facts{
  margin: 18px auto;
  max-height: $button-max * 1.2;
  min-height: $button-min* 1.2;
  max-width: $button-max* 1.2;
  min-width: $button-min* 1.2;
}

#new-facts button{
  font-size: 2.4em;
  color: red;
  padding: 10px;
  border-radius: 36px;
  border: 1px solid $gray;
  background-color: transparent;
  max-height: $button-max;
  min-height: $button-min;
  max-width: $button-max;
  min-width: $button-min;
}

#new-facts button:hover{
  background-color: rgba(66, 255, 29, 0.52);
}