@import "bg_fade";
@import "flasher";

html{
  font-family: 'Goudy Bookletter 1911', "Georgia", serif;
}

nav{
  background-color: $gray;
  position: fixed;
  width: 120%;
  height: 72px;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav-imgs{
  margin-left: 4%;
}

nav img{
  margin-left: 36px;
  margin-top: 5px;
  padding: 6px;
  border: 1px solid $gray;
  border-radius: 10px;
  background-color: $gray;
  @include bg-color-anim;
}

nav img:hover {
  background-color: $red;
}

nav a{
  color: transparent;
}

nav a:visited {
  color: transparent;
}

#twitter{
  margin-bottom: 4px;
}

nav h1 {
  position: fixed;
  right: 104px;
  color: white;
  text-shadow: 1px 1px 1px rgb(125, 109, 109);
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  top: -8px;
  border: 1px solid white;
  @include bg-color-anim;
  @include font-color-anim;
}

#home-link h1{
  background-color: $gray;
}

#home-link:hover h1{
  background-color: $green;
  color: $gray;
}

#flasher {

  h1{
    @include load-flash;
    color: white;
    font-size: 1.8em;
    border: 0;
    border-radius: 10px;
    left: 44%;
    width: 170px;
  }

  div{
    border-top:2px solid $green;
    margin-top: -2px;
    margin-left: 4px;
    position: absolute;
    right: 95%;
    @include streak;
  }
}
