html{
  font-family: 'Goudy Bookletter 1911', "Georgia", serif;
}

nav{
  background-color: #333333;
  position: fixed;
  width: 120%;
  height: 68px;
  top: 0;
  left: 0;
  z-index: 100;
}

nav img{
  margin-top: 11px;
  margin-left: 40px;
}

nav h1 {
  position: fixed;
  right: 104px;
  color: white;
  display: inline-block;
}

#twitter{
  margin-bottom: 4px;
}