<nav>
  <a href="https://www.linkedin.com/pub/luke-thomas/19/5b6/22a">
    <%= image_tag("In-White-48px.png", id:"linked-in") %>
  </a>
  <a href="https://github.com/lukert33">
    <%= image_tag("GitHub-white-48px.png", id:"github") %>
  </a>

  <a href="https://twitter.com/lrrthomas">
    <%= image_tag("Twitter-white.png", id:"twitter") %>
  </a>

  <h1>Luke Thomas</h1>
</nav>

